*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

header{
   text-align: center;
   background: black;
   position: fixed;
   width: 100%;
   z-index: 999;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after
{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    color: white;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content:'';
    position: absolute;

}

.nav-toggle-label span::before{
     bottom: 7px;
}

.nav-toggle-label span::after{
     top: 7px;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
    display: none;
}
    
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
}

.nav-toggle:checked ~ nav{
    display: block;
}

.logo{
    color: white;
}

.container{
    display: inline-block;
    margin-left: 50%;
    margin-top: 10%;
}

.text{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    color:white;
    border-right: 5px solid white;
    animation: type 5s steps(13) infinite, cursor 0.7s infinite step-end;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes cursor{
    0%, 100% {border-color: transparent;}
    50%{border-color: white;}


}

@keyframes type{
    0% {width:0ch;}
    30% {width: 17ch;}
    80% {width: 17ch;}
    90% {width: 17ch;}
    100% {width: 0ch;}
}



#canvas1{
    position:absolute;
    border: 1px solid white;
    width: 600px;
    height: 700px;
    top: 0;
    left: 0;
}





